# pip install -r requirements.txt
# Use Python 3.9.9
albumentations
basicsr
colorama
coremltools
Flask
ipython
matplotlib
numpy
onnx
onnxruntime
opencv_python
openvino
pafy
pandas
Pillow
protobuf
psutil
pyclick
pycocotools
PyYAML
requests
scipy
seaborn
selenium
setuptools
tensorflow
tensorflowjs
tensorrt
tflite_runtime
thop
tqdm
webdriver_manager
