# pip install -r requirements_yolov5x6.txt
# Use Python 3.9.9 or 3.9.11.
basicsr
matplotlib
numpy
opencv_python
Pillow
protobuf
psutil
pyclick
PyYAML
requests
scipy
seaborn
setuptools
tensorflow==2.12.1
tensorflowjs
tensorrt
thop
tqdm