# pip install -r requirements_recaptcha.txt
# Use Python 3.9.9 or 3.9.11.
basicsr==1.3.5
matplotlib==3.5.1
numpy==1.22.3
opencv_python==4.5.5.62
Pillow==9.0.1
protobuf==3.19.4
psutil==5.9.0
pyclick==0.0.2
PyYAML==6.0
requests==2.27.1
scipy==1.8.0
seaborn==0.11.2
setuptools==58.1.0
tensorflow==2.8.1
tensorflowjs==3.14.0
tensorrt==0.0.1
thop==0.0.31.post2005241907
tqdm==4.63.0
